*{
    background-color:black;
    
    
}

.Edit_book_page{
    margin-top: 50px;

}

.Edit_book_page, input{
    border-color: blue;
    width: 450px;
    margin-left: 200px;
    height: 50px;
    color: antiquewhite;
}


button{
    margin-left: 400px;
    border-color: blue;
    color: antiquewhite;
}

label{
    color: white;
    margin-left: 200px;
}

img{
    position: absolute;
    display: inline-block;
    top: 170px;
    left: 970px;
    width: 550px;
    
}

p{
    position: relative;
    color: white;
    margin-left: 970px;
    margin-top: 550px;
    
}

