*{
  background-color: antiquewhite;
}

h1 {
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
    
}

p {
    text-align: center;
    color: #666;
    font-family: cursive;
}

.welcome-container {
    
    
    align-items: center;
    

}

.marquee-container{
    margin-top: 150px;
    width: 100%;
    padding: 10px 10px;
    position: relative;
}
.marquee-text {
    position: absolute;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
    font-size: 30px;
    color: #333;
}
@keyframes marquee {
    from {
        transform: translateX(75%);
    }
    to {
        transform: translateX(-100%);
    }
}